*{
    margin:0px;
    padding:0px;
}
.nav-bar{
    width:80%;
    border:solid red 2px;
    border-top: solid black 40px;
    border-bottom:solid blue 40px;
    border-left:solid orange 60px;
    border-right:solid orange 60px;
    display:flex;
    justify-content: center;
    column-gap:25%;
}
h1{
    background-color: rgb(20, 50, 24);
}
.nav-bar button{
    background-color:darkgoldenrod;
}
img{
    width:25%;
}